<!DOCTYPE html>
{%  extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}
{% block headblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/changepassword.css'%}">
{% endblock %}
{% block content %}
	<div class="box">
		<div class="login">
			<div id="in"></div>
			<button type="button" class="button">Change Password</button>
		</div>
		<form method='POST' action='changepassword' class="input" >
			{%csrf_token%}
				{% for field in form.visible_fields %}
					{% render_field field class="details" placeholder=field.label %}
					<p class="help">{{field.help_text}}</p>
				{% endfor %}
				<button type="submit" class="submitbutton">Update</button>
		</form>
	</div>
{% endblock %}